.image {
	width: 30%;
	max-width: 30%;
}

.body {
	display: flex;
	flex-direction: row;
	align-items: center;
	transition-duration: 0.3s;
	transition-property: transform;
	will-change: transform;
}

.title {
	width: 70%;
	max-width: 70%;
	margin-left: 1rem;
	font-size: 1rem;
}

.user_link {
	display: block;
	text-decoration: none;
	&:hover {
		.body {
			transform: scale(1.05);
		}
	}
}
