// Bootstrap default colors
$gray-700: #495057 !default;

// Colors
$primary: #556d7e;
$secondary: #c2bca0;
$light: #f1f6f8;
//$dark: #28363d;
$body-background-color: #ffffff;

// Headings
$headings-color: $primary;

// Navbar
$navbar-light-color: #adb5bd;
$navbar-light-active-color: $primary;
$navbar-light-hover-color: $secondary;

// Contrast
//$min-contrast-ratio: 2.9;
